# Operating Systems

## Mac OS

**/.DS_Store

# Editors

## Visual Studio Code

.vscode/
.idea/

## Sublime Text

*.sublime-workspace
*.sublime-project

# Project

## Common

!.gitignore
!.gitkeep

## Binaries

bin/*
lib/*
build/
*.so*
*.a
*.exe*
*.rpm*

## Documentation

docs/html/
docs/latex/

## Misc.

tmp/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

########################################################################################################################################################
