[Install]
WantedBy=default.target

[Unit]
Description=Diperan daemon
After=syslog.target network.target 

[Service]
Type=simple
ExecStart=/usr/bin/diperan
Restart=on-abort
